@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Account adding window</title>
</head>
    <body>
    <div>
        <h3>Add new account</h3>    
        <form method="post" action="~/Account/AddAccount">
            <table>
                <tr>
                    <td>Number</td>
                    <td><input type="text" name="Number" /></td>
                </tr>
                <tr>
                    <td>Count</td>
                    <td><input type="text" name="Count" /></td>
                </tr>
                <tr>
                    <td><input type="submit" value="Add"/> </td><td></td>
                </tr>
            </table>
        </form>
    </div>
    </body>
</html>