@model AccountViewModel
@{
    // Layout = null;
    ViewData["Title"] = "Account creating";
}

<!DOCTYPE html>

<html>
    <body>
    <div>
        <h3>Add new account</h3>
        @using (Html.BeginForm("Create", "Account", FormMethod.Post))
        {
            <p>
                @Html.LabelFor(model => model.Number, "Input number") <br/>
                @Html.EditorFor(model => model.Number)
            </p>
            <p>
                @Html.LabelFor(model => model.Count, "Input count") <br/>
                @Html.EditorFor(model => model.Count)
            </p>
            <p>
                <input type="submit" value="Add" />
            </p>            
        }
    </div>
    </body>
</html>