@model IEnumerable<FinanceManager.BLL.DTO.CategoryDTO>

@{
    ViewData["Title"] = "Available categories";
}

<!DOCTYPE html>

<html>
<head>
    <title>Available categories</title>
</head>
<body>
    <div>
        <h3>Categories</h3>
        <p>@Html.ActionLink("Add new category", "Create")</p>
        <table>
            <tr>
                <td>
                    <p>Name</p>
                </td>
                <td></td>
            </tr>
            @foreach (var category in Model)
            {
                <tr>
                    <td>
                        <p>@category.Name</p>
                    </td>
                    <td>
                        <p>
                            @Html.ActionLink("Delete", "Remove", new { id = category.Id })
                        </p>
                    </td>
                </tr>
            }
        </table>
    </div>
</body>
</html>