@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Category adding window</title>
</head>
<body>
<div>
    <h3>Add new category</h3>    
    <form method="post" action="~/Category/AddCategory">
        <table>
            <tr>
                <td>Name</td>
                <td><input type="text" name="Name" /></td>
            </tr>
            <tr>
                <td><input type="submit" value="Add"/> </td><td></td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>